/* =============================================================================
_________                             .___               _________.__  __                 
\_   ___ \_____    ___________      __| _/____  ______  /   _____/|__|/  |_  ____   ______
/    \  \/\__  \  /  ___/\__  \    / __ |/  _ \/  ___/  \_____  \ |  \   __\/ __ \ /  ___/
\     \____/ __ \_\___ \  / __ \_ / /_/ (  <_> )___ \   /        \|  ||  | \  ___/ \___ \ 
 \______  (____  /____  >(____  / \____ |\____/____  > /_______  /|__||__|  \___  >____  >
        \/     \/     \/      \/       \/          \/          \/               \/     \/ 
Criado e desenvolvido por: Casa dos sites
CEO / CTO: Fabio Augusto
Website: https://www.casadossites.com
/* =============================================================================*/
body {
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* VARIÁVEIS DE AMBIENTE */
:root {
  --corloempresa01: #b40d12;
}
